@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body.light-mode{  
    --background-color:white;
    --text-color: black;
    --border-before-color: rgba(63, 63, 63, 0.39);
    --border-after-color: #00A97F;
    --input-hovered-color: #90eded27;
    --button-color: #00A97F;
    --cards-color: #dbdbdb;
}
body.dark-mode{
    --background-color:#081016;
    --text-color: white;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #00A97F;
    --input-hovered-color: #032f2443; 
    --button-color: #00A97F;
    --cards-color: black;
}

body{
    font-family: "Urbanist", sans-serif;
    background-color: var(--background-color);
    transition: 0.3s ease-in-out;

    --sb-track-color: var(--input-hovered-color);
    --sb-thumb-color: #00a97f;
    --sb-size: 10px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 14px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border: 3px solid var(--input-hovered-color);
}

@supports not selector(::-webkit-scrollbar) {
    body {
    scrollbar-color: var(--sb-thumb-color)
                    var(--sb-track-color);
    }
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}